<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.biz.mapper.DishFlavorMapper">
    
    <resultMap type="DishFlavor" id="DishFlavorResult">
        <result property="dishId"    column="dish_id"    />
        <result property="flavorType"    column="flavor_type"    />
        <result property="flavorOpt"    column="flavor_opt"    />
    </resultMap>

    <sql id="selectDishFlavorVo">
        select dish_id, flavor_type, flavor_opt from biz_dish_flavor
    </sql>

    <select id="selectDishFlavorList" parameterType="DishFlavor" resultMap="DishFlavorResult">
        <include refid="selectDishFlavorVo"/>
        <where>  
            <if test="flavorOpt != null  and flavorOpt != ''"> and flavor_opt = #{flavorOpt}</if>
        </where>
    </select>
    
    <select id="selectDishFlavorByDishId" parameterType="Long" resultMap="DishFlavorResult">
        <include refid="selectDishFlavorVo"/>
        where dish_id = #{dishId}
    </select>
        
    <insert id="insertDishFlavor" parameterType="DishFlavor">
        insert into biz_dish_flavor
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="dishId != null">dish_id,</if>
            <if test="flavorType != null">flavor_type,</if>
            <if test="flavorOpt != null and flavorOpt != ''">flavor_opt,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="dishId != null">#{dishId},</if>
            <if test="flavorType != null">#{flavorType},</if>
            <if test="flavorOpt != null and flavorOpt != ''">#{flavorOpt},</if>
         </trim>
    </insert>

    <update id="updateDishFlavor" parameterType="DishFlavor">
        update biz_dish_flavor
        <trim prefix="SET" suffixOverrides=",">
            <if test="flavorType != null">flavor_type = #{flavorType},</if>
            <if test="flavorOpt != null and flavorOpt != ''">flavor_opt = #{flavorOpt},</if>
        </trim>
        where dish_id = #{dishId}
    </update>

    <delete id="deleteDishFlavorByDishId" parameterType="Long">
        delete
        from biz_dish_flavor
        where dish_id = #{dishId}
    </delete>

    <delete id="deleteDishFlavorByDishIds" parameterType="String">
        delete from biz_dish_flavor where dish_id in 
        <foreach item="dishId" collection="array" open="(" separator="," close=")">
            #{dishId}
        </foreach>
    </delete>
</mapper>