<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.biz.mapper.SetmealDishMapper">
    
    <resultMap type="SetmealDish" id="SetmealDishResult">
        <result property="setmealId"    column="setmeal_id"    />
        <result property="dishId"    column="dish_id"    />
        <result property="copies"    column="copies"    />
    </resultMap>

    <sql id="selectSetmealDishVo">
        select setmeal_id, dish_id, copies from biz_setmeal_dish
    </sql>

    <select id="selectSetmealDishList" parameterType="SetmealDish" resultMap="SetmealDishResult">
        <include refid="selectSetmealDishVo"/>
        <where>  
            <if test="copies != null "> and copies = #{copies}</if>
        </where>
    </select>
    
    <select id="selectSetmealDishBySetmealId" parameterType="Long" resultMap="SetmealDishResult">
        <include refid="selectSetmealDishVo"/>
        where setmeal_id = #{setmealId}
    </select>

    <insert id="insertSetmealDish" parameterType="SetmealDish">
        insert into biz_setmeal_dish
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="setmealId != null">setmeal_id,</if>
            <if test="dishId != null">dish_id,</if>
            <if test="copies != null">copies,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="setmealId != null">#{setmealId},</if>
            <if test="dishId != null">#{dishId},</if>
            <if test="copies != null">#{copies},</if>
         </trim>
    </insert>

    <update id="updateSetmealDish" parameterType="SetmealDish">
        update biz_setmeal_dish
        <trim prefix="SET" suffixOverrides=",">
            <if test="dishId != null">dish_id = #{dishId},</if>
            <if test="copies != null">copies = #{copies},</if>
        </trim>
        where setmeal_id = #{setmealId}
    </update>

    <delete id="deleteSetmealDishBySetmealId" parameterType="Long">
        delete from biz_setmeal_dish where setmeal_id = #{setmealId}
    </delete>

    <delete id="deleteSetmealDishBySetmealIds" parameterType="String">
        delete from biz_setmeal_dish where setmeal_id in 
        <foreach item="setmealId" collection="array" open="(" separator="," close=")">
            #{setmealId}
        </foreach>
    </delete>
</mapper>