<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.biz.mapper.SetmealMapper">

    <select id="selectSetmealList" resultType="com.ruoyi.biz.dto.SetmealListVo">
        select
            s.*,c.category_name categoryName
            from biz_setmeal s
            left join biz_category c
            on
            s.category_id = c.category_id
        <where>
            <if test="setmealName != null  and setmealName != ''">
                and setmeal_name like concat('%', #{setmealName}, '%')
            </if>
            <if test="saleStatus != null  and saleStatus != ''">
            and sale_status = #{saleStatus}
            </if>
            <if test="categoryId != null">
            and c.category_id = #{categoryId}
            </if>
        </where>
        order by s.create_time desc
    </select>

    <resultMap id="setmealVOResultMap" type="com.ruoyi.biz.dto.SetmealVo">
        <id column="setmeal_id" property="setmealId"/>
        <result column="setmeal_name" property="setmealName"/>
        <result column="setmeal_price" property="setmealPrice"/>
        <result column="setmeal_image" property="setmealImage"/>
        <result column="description" property="description"/>
        <collection property="setmealDishes" ofType="com.ruoyi.biz.dto.SetmealDishVO">
            <id column="dish_id" property="dishId"/>
            <result column="dish_name" property="dishName"/>
            <result column="dish_price" property="dishPrice"/>
            <result column="copies" property="copies"/>
        </collection>
    </resultMap>

    <select id="selectSetmealVOBySetmealId" resultMap="setmealVOResultMap">
        select s.setmeal_id,
               s.setmeal_name,
               s.setmeal_price,
               s.setmeal_image,
               s.description,
               d.dish_id,
               d.dish_name,
               d.dish_price,
               sd.copies
        from biz_setmeal s
            left join biz_setmeal_dish sd on s.setmeal_id = sd.setmeal_id
            left join biz_dish d on sd.dish_id = d.dish_id
        where s.setmeal_id = #{setmealId}
    </select>

    <insert id="insertSetmeal">
        insert into biz_setmeal
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="storeId != null">store_id,</if>
            <if test="categoryId != null">category_id,</if>
            <if test="setmealName != null and setmealName != ''">setmeal_name,</if>
            <if test="setmealPrice != null">setmeal_price,</if>
            <if test="setmealImage != null and setmealImage != ''">setmeal_image,</if>
            <if test="saleStatus != null and saleStatus != ''">sale_status,</if>
            <if test="description != null">description,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="storeId != null">#{storeId},</if>
            <if test="categoryId != null">#{categoryId},</if>
            <if test="setmealName != null and setmealName != ''">#{setmealName},</if>
            <if test="setmealPrice != null">#{setmealPrice},</if>
            <if test="setmealImage != null and setmealImage != ''">#{setmealImage},</if>
            <if test="saleStatus != null and saleStatus != ''">#{saleStatus},</if>
            <if test="description != null">#{description},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
         </trim>
    </insert>

    <update id="updateSetmeal">
        update biz_setmeal
        <trim prefix="SET" suffixOverrides=",">
            <if test="categoryId != null">category_id = #{categoryId},</if>
            <if test="setmealName != null and setmealName != ''">setmeal_name = #{setmealName},</if>
            <if test="setmealPrice != null">setmeal_price = #{setmealPrice},</if>
            <if test="setmealImage != null and setmealImage != ''">setmeal_image = #{setmealImage},</if>
            <if test="saleStatus != null and saleStatus != ''">sale_status = #{saleStatus},</if>
            <if test="description != null">description = #{description},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </trim>
        where setmeal_id = #{setmealId}
    </update>

    <delete id="deleteSetmealById">
        delete from biz_setmeal where setmeal_id in
        <foreach collection="array" item="setmealId" open="(" separator="," close=")">
            #{setmealId}
        </foreach>
    </delete>
    <delete id="deleteSetmealDishBySetmealId">
        delete from biz_setmeal where setmeal_id = #{setmealId}
    </delete>

    <select id="selectSetmealInfoByCategoryId" resultType="com.ruoyi.biz.dto.SetmealInfo">
        select s.setmeal_id,
               s.setmeal_name,
               s.setmeal_price,
               s.setmeal_image
        from biz_setmeal s
        where category_id = #{categoryId}
    </select>
    <select id="selectSetmealDishInfoByDishId" resultType="com.ruoyi.biz.domain.SetmealDish">
        select
            s.setmeal_id,
            s.category_id,
            d.dish_name,
            d.dish_price,
            d.dish_image
            from biz_setmeal s
            left join biz_dish d
            on
            s.category_id = d.category_id
        where d.dish_id = #{dishId}
    </select>

    <select id="selectSetmealBySetmealId" resultType="com.ruoyi.biz.domain.Setmeal">
        select * from biz_setmeal where setmeal_id = #{setmealId}
    </select>
</mapper>