<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.biz.mapper.StoreMapper">

    <select id="selectStoreByStoreId" resultType="com.ruoyi.biz.domain.Store">
        select *
        from biz_store
        where store_id = #{storeId}
    </select>

    <select id="selectStoreList" resultType="com.ruoyi.biz.dto.StoreListVo">
        select store_id,
               store_name,
               business_status,
               pack_amount,
               delivery_amount,
               create_time,
               create_by
        from biz_store
        <where>
            <if test="storeName != null and storeName != ''">
                and store_name like concat('%', #{storeName}, '%')
            </if>
            <if test="businessStatus != null and businessStatus != ''">
                and business_status = #{businessStatus}
            </if>
            <if test="createTimeStart != null">
                and create_time <![CDATA[ >= ]]> date(#{createTimeStart})
            </if>
            <if test="createTimeEnd != null">
                and create_time <![CDATA[ <= ]]> date(#{createTimeEnd})
            </if>
        </where>
    </select>

    <insert id="insertStore">
        insert into biz_store
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="storeName != null and storeName != ''">store_name,</if>
            <if test="businessStatus != null and businessStatus != ''">business_status,</if>
            <if test="packAmount != null">pack_amount,</if>
            <if test="deliveryAmount != null">delivery_amount,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="storeName != null and storeName != ''">#{storeName},</if>
            <if test="businessStatus != null and businessStatus != ''">#{businessStatus},</if>
            <if test="packAmount != null">#{packAmount},</if>
            <if test="deliveryAmount != null">#{deliveryAmount},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
        </trim>
    </insert>

    <update id="updateStore">
        update biz_store
        <trim prefix="SET" suffixOverrides=",">
            <if test="storeName != null and storeName != ''">store_name = #{storeName},</if>
            <if test="businessStatus != null and businessStatus != ''">business_status = #{businessStatus},</if>
            <if test="packAmount != null">pack_amount = #{packAmount},</if>
            <if test="deliveryAmount != null">delivery_amount = #{deliveryAmount},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </trim>
        where store_id = #{storeId}
    </update>

</mapper>